@mixin comm_heading {
  font-size: 40px;
  font-weight: 800;
  text-transform: capitalize;
  color: #000;
}

@mixin comm_para {
  font-size: 17px;
  color: $faded-black;
  font-weight: 400;
  font-family: "Poppins";
}
@mixin comm_banner_text {
  font-size: 36px;
  color: $white;
  font-weight: 700;
  font-family: "Poppins";
}

@mixin slider_text {
  text-transform: uppercase;
  font-weight: 800;
}
